@import "tailwindcss";

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
}

body {  background: #000; color: #fff; font-family: var(--font-montserrat);}
a, button{transition: 0.5s ease-in-out all 0s;-webkit-transition: 0.5s ease-in-out all 0s;}
h1, h2, h3, h4, h5, h6{font-family: var(--font-orbitron);}
.font-orbitron{font-family: var(--font-orbitron);}

.cmslickwrap .slick-dots li.slick-active button::before {opacity: .75;color: #FC7400;width: 30px;background: #FC7400;border-radius: 10px;}
.slick-dots li button {font-size: 0;line-height: 0;display: block;width: 32px;height: 32px;padding: 5px;cursor: pointer;color: transparent;
  border: 0;outline: none;background: transparent;}
.slick-dots li.slick-active { margin-right: 25px;}
.cmslickwrap .slick-dots li button:before{width:10px;font-size:0px;color:#fff;opacity:0.75;top:9px;height:3px;background:#676E73;}
.cmslickwrap .slick-dots li button{width: 34px;height: 34px;}
.cmslickwrap .slick-dots {bottom: -20px;}
.cmslickwrap .slick-dots li.slick-active button:before {color: #fc7400;opacity: 1;}
.custom-arrows-wrapper .slick-prev, .custom-arrows-wrapper .slick-next {background: none;border: none;font-size: 30px;line-height: 20px;
color: #fff;cursor: pointer;top:10px;width: 40px;height: 34px;padding: 0 2px; position: absolute;}
.custom-arrows-wrapper .testimonial-counter {text-align: left;font-size: 24px;color: #fff;padding-left: 0px;line-height: 34px;
min-width: 120px;margin-top: 9px; }
.custom-arrows-wrapper .slick-prev:before, .custom-arrows-wrapper .slick-next:before {font-size: 0;}
.custom-arrows-wrapper .slick-prev {right: 40px;left: auto;}
.custom-arrows-wrapper .slick-next { right: 0;background: rgba(255, 255, 255, 0.2);border-width: 1px 1px 1px 1px;border-color: rgba(255, 255, 255, 0.5);
  border-style: solid;}
.custom-arrows-wrapper .slick-prev {background: transparent;border-width: 1px 0 1px 1px;border-style: solid;border-color: rgba(255, 255, 255, 0.5);}
.custom-arrows-wrapper .slick-prev svg {margin-left: 1px;}
.custom-arrows-wrapper .slick-next svg {margin-left: 5px;}
.custom-arrows-wrapper .slick-prev, .custom-arrows-wrapper .slick-next{  line-height: 30px;  top: 22px;}
.custom-arrows-wrapper .slick-prev svg, .custom-arrows-wrapper .slick-next svg {  position: absolute;  top: 0;}
.custom-arrows-wrapper .slick-prev:hover svg, .custom-arrows-wrapper .slick-next:hover svg {color: #fff;}
.custom-arrows-wrapper .slick-prev:focus svg, .custom-arrows-wrapper .slick-next:focus svg{color: #fff;}
.animate-progress { animation: progress 25s linear forwards; }

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@media screen and (min-width:320px) and (max-width:767px) {
  .case-slider .slick-track {display: flex !important;align-items: stretch;}
  .case-slider .slick-slide {padding: 0 15px;}
  .slick-slider.portfolioin-slider .slick-list { padding: 40px 10px 30px 45px !important; }
}

@media screen and (min-width:1016px) and (max-width:1165px) {
  .portfolio-card{width: 300px !important;}
}

@media screen and (min-width:991px) and (max-width:1017px) {
  .portfolio-card{width: 280px !important;}
}

@media screen and (min-width:769px) and (max-width:990px) {
  .portfolio-card{width: 210px !important;}
}

@media screen and (min-width:768px) {
  .slick-slider.portfolioin-slider .slick-list{padding: 60px !important;}
}

@media screen and (min-width:900px) {
  .content-slider .slick-slide {padding: 0 8px;}
}

.cm-hd1 {    text-transform: uppercase;font-size: 45px;  color: white;-webkit-text-stroke: 1px #ff8600;text-align: center; margin: 1rem 0;}

.arrow2{background: url(/common/arrow2.webp) no-repeat scroll 98% center;background-size: 34px 34px;display: inline-block;width: 34px;height: 34px;
right: 10px;position: absolute;top: 20px;}
.slick-next, .slick-prev{z-index: 5;}
.slick-next{right: 15px;}
.slick-prev{left: 15px;}
.slick-next:before, .slick-prev:before{color: #000;font-size: 26px;}

.slick-slider.portfolioin-slider .slick-slide{border-radius: 20px;}
.slick-slider.portfolioin-slider .slick-center{transform: scaleY(1.1);-webkit-transform: scaleY(1.1);filter: drop-shadow(0px 0px 6px #FC7400);-webkit-filter: drop-shadow(0px 0px 6px #FC7400);}
.slick-slider.portfolioin-slider .slick-center .arrow2{transform: scaleY(0.9091);-webkit-transform: scaleY(0.9091);right: 20px;width: 34px;height: 34px;}

.content-slider {position: relative;}
.content-slider:after {content: "";position: absolute;width: 400px;height: 200px;border-radius: 50% / 50%;
box-shadow: 0 0 200px 100px #fc7400;-webkit-box-shadow: 0 0 200px 100px #fc7400; will-change: transform, box-shadow;left: 50%;
filter: blur(100px);-webkit-filter: blur(100px);top: 50%;transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);
background: #fc7400;opacity: 0.3;-webkit-opacity: 0.3;}
.content-slider .slick-track{padding: 0.5rem 0 2rem;}
.content-slider .slick-slide{overflow: hidden;height: 100%;margin: 0 15px 0 0;border-radius: 20px; 
  display: flex;align-items: center;justify-content: center;
  transform: scale(1);-webkit-transform: scale(1);transition: all 0.4s ease-in-out;}
.content-slider .slick-slide,
.content-slider .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
  transform: scale(1, 1);-webkit-transform: scale(1, 1); transition: all 0.4s ease-in-out;-webkit-transition: all 0.4s ease-in-out;}
.content-slider .slick-center,
.content-slider .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
  transform: scaleX(1) scaleY(1.1);-webkit-transform: scaleX(1) scaleY(1.1);}
.content-slider .slick-current.slick-active{transform: scaleX(1) scaleY(1.1);-webkit-transform: scaleX(1) scaleY(1.1);}
.content-slider .slick-track {display: flex !important;align-items: stretch;}
.content-slider .slick-slide {height: auto;}
.case-slider .slick-list {padding-bottom: 40px;}

.genresc{padding:3rem 0;}
.comic-sub .para-cnt1{display:none;opacity:0;}
.comic-sub{padding:2px 8px 10px;display:flex;flex-direction:column;justify-content:flex-end;bottom:0;height:30%;
 transition:0.5s ease-in-out all 0s;z-index:10;}
.comic-sub .cm-hd4 {font-size: 16px;margin: 0;font-family: var(--font-orbitron);}
.comic-panel .comic-sub .cm-hd4 {text-align: left; width: fit-content;}
.comic-panel.comic-rev .comic-sub .cm-hd4 {text-align: center; width: 100%;}
.comic-panel {clip-path: polygon(0 0, 100% 0%, 69% 106%, 0% 100%);-webkit-clip-path:polygon(0 0, 100% 0%, 69% 106%, 0% 100%);
    background: #ff8300;overflow: hidden;transform: scale(0.98);-webkit-transform: scale(0.98);}
.comic-panel.comic-rev {clip-path: polygon(29% 0%, 100% 0%, 100% 100%, 0% 100%);-webkit-clip-path: polygon(29% 0%, 100% 0%, 100% 100%, 0% 100%);
    margin-left: -53px;}
.comic-panelim:after {background: rgba(0,0,0,0.6);content: "";position: absolute;width: 100%;height: 100%;left: 0;top: 0;z-index: 1;
opacity: 0;-webkit-opacity: 0;transition: 0.5s ease-in-out all 0s;-webkit-transition: 0.5s ease-in-out all 0s;}
.comic-panelim:hover::after {opacity: 1;-webkit-opacity: 1;}    
.comic-panelim:hover .comic-sub {background: linear-gradient(0deg, #ff880050 9.57%, rgba(17, 86, 113, 0.00) 91.21%);;
    transform: translateY(10px);-webkit-transform: translateY(10px); padding-bottom: 30px; height: 50%;}
.comic-sub .para-cnt1 {display: none;opacity: 0;transition: opacity 0.3s ease-in-out;}
.comic-panelim:hover .comic-sub .para-cnt1 {display: block;opacity: 1;margin-top: 2px;}
.comic-panelim .comic-sub .para-cnt1{font-size: 14px;line-height: 20px;padding-right: 0.8rem;}
.comic-panel.comic-rev .comic-panelim:hover .comic-sub .cm-hd4.rev-hd{text-align: right;}
.comic-rev .comic-panelim:hover .comic-sub .cm-hd4, .comic-rev .comic-panelim:hover .comic-sub .para-cnt1 {text-align: right;
  padding-right: 1px;padding-left: 40px;}
.comic-panelim:hover .comic-sub *{  padding-right: 42px;width: 100%;}
.comic-rev .comic-panelim:hover .comic-sub{padding-right: 8px;}
.comic-rev .comic-panelim:hover .comic-sub .cm-hd4{text-align: center;  padding: 0;}

.cm-hd4 {text-align: center;font-size: 20px;line-height: 28px;margin: 1.8rem 0;font-weight: 600; font-family: var(--font-orbitron);}
.para-cnt1 {font-size: 15px;line-height: 23px;margin: 0 0 1rem;}

.afflef {margin-left: -15px; top: 0;left: 0;}
.afflef {position: absolute;z-index: 1;flex: 0 0 auto; }
.afflef img {max-width: none;height: auto;display: block;}
.affim{position: relative;top: -120px;}
.how-rev {flex-direction: row;}
.how-rev .afflef {right: 0;}
.how-rev .affim{top: 0;margin: 0;left: auto;display: flex;right: -12px;justify-content: flex-end;}

.tech-progress-wrapper .tech-category.active {color: #ff8600; background: transparent;}
.tech-card-row {margin-top: 4rem;}
.tech-card { background: rgba(255, 255, 255, 0.05);  margin-top: 2px; padding:1.1rem 1.2rem;border-radius: 8px;color: #fff;border: 1px solid #ffffff73;
  text-align: center;flex: 0 1 auto;transition: 0.3s ease; cursor: pointer;display: flex;align-items: center;justify-content: center;min-height: 80px;}
.tech-card img{max-width:100%;object-fit: contain;  max-height: 40px;}
.tech-card span {display: block;font-size: 14px;}
.tech-card:hover {background: rgba(255, 255, 255, 0.15);}
.tech-category.active {color: #fff;}
.progress-line {width: 0%; background: white;animation: fillProgress 25s linear forwards infinite;
-webkit-animation: fillProgress 25s linear forwards infinite; top:-1px;}
.progress-line.animate {width: 100%;}

@keyframes fillProgress {
  0%   { width: 0%; }
  33%  { width: 33.33%; }
  66%  { width: 66.66%; }
  100% { width: 100%; }
}

.tech-card-row { overflow: hidden; display: flex;}
.scrollimgs { animation: 25s linear infinite animslide; -webkit-animation: 25s linear infinite animslide; }
.scrollimgs:hover { animation-play-state: paused;}

@keyframes animslide {
    to {
        transform: translate(calc(-50% - 20px))
    }
}

@-webkit-keyframes animslide {
    to {
        transform: translate(calc(-50% - 20px))
    }
}

@-moz-keyframes animslide {
    to {
        transform: translate(calc(-50% - 20px))
    }
}

.scrollimgs:hover ~ .progress-line, .scrollimgs:hover + .progress-line { animation-play-state: paused; -webkit-animation-play-state: paused; }

.testim-wrapper {width:80%;margin:auto;padding-bottom:40px;}
.testimonial-inner {display: flex;align-items: center;gap: 30px;background: linear-gradient(90deg, #1a0e0e, #140505);
  border: 1px solid #301c0c;width: 99%;border-radius: 10px;}
.testimonial-content {flex: 1;  padding-right: 20px;}
.testimonial-author {font-weight: bold;margin-top: 1rem;margin-bottom: 0;}
.testimonial-author .designation {color: #ff7a00;font-weight: normal;}
.testimonial-slider .slick-arrow, .testimonial-slider .slick-arrow:after, .testimonial-slider .slick-arrow:before {color: #fff;
top: auto;bottom: 0;}
.testimonial-slider .slick-prev.slick-arrow {left: auto;right: 120px;}

.flip-card {background-color: transparent;width: 100%;height: 400px;perspective: 1000px;margin: auto;}
.flip-card-inner {position: relative;width: 100%;height: 100%;text-align: center;transition: transform 0.8s;transform-style: preserve-3d;}
.flip-card:hover .flip-card-inner {transform: rotateY(180deg);-webkit-transform: rotateY(180deg);}
.flip-card-front,
.flip-card-back {position: absolute;width: 100%;height: 100%;backface-visibility: hidden;-webkit-backface-visibility: hidden;
  border-radius: 45px;  overflow: hidden;}
.flip-card-back .para-cnt1 {margin-bottom: 2.5rem !important;}  
.flip-card-front {display: flex;border: 1px solid transparent;flex-direction: column;justify-content: space-between;height: 100%;align-items: center;}
.flip-lgim {position: relative;flex: 1;width: 100%;height: 100%;overflow: hidden;}
.flip-lgim img {  width: 100%; height: 100%; object-fit: cover;}
.flip-card-front img {max-width: 100%;}
.flip-smim {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); max-width: 300px;}
.linktx1 {text-align: center;display: block;position: absolute;bottom: 1rem;color: #fff;text-decoration: none;}
.linktx1 i.arr {display: inline-block;margin-left: 0.5rem;border: solid currentColor;border-width: 0 2px 2px 0;padding: 3px;
  transform: rotate(-45deg);}
.flip-card-back {background-color: #111;color: white;transform: rotateY(180deg);padding: 1rem;display: flex;flex-direction: column;
  justify-content: center;align-items: center;border: 1px solid #222;}
.flip-card-back h5 {margin-bottom: 1rem;}

.accord-cn { padding: 1rem 10px; border-top: 1px solid #ff8600;}

.cm-hd2 {  font-size: 24px; margin-top: 3px;}

.incontent-slider .slick-list{width: 95%;margin: auto;}
.incont-bk{padding: 0 15px;}
.serv-rbx{border: 0.871429px solid #FC7400;border-radius: 61px 8.71429px;padding: 10px;margin: 1rem 0;}
.serv-rinbx{background: rgba(51, 51, 51, 0.5);border-radius: 52.2857px 8.71429px;min-height: 250px;padding: 10px 20px;}
.incont-bk .cm-hd4{text-align: left;font-size: 16px;line-height: 24px;margin: 1.2rem 0;}
.incont-bk .para-cnt1{font-size: 14px;line-height: 24px;}
.incontent-slider .slick-prev, .incontent-slider .slick-next{border:1.5px solid #E6E6E6;width:40px;height:40px;color:#fff;border-radius:50%;}
.incontent-slider .slick-prev::before, .incontent-slider .slick-next::before{content: "";display: block;width: 40px;height: 20px;
background-image:url(/common/arrow3.webp);background-size: contain;background-repeat: no-repeat;background-position: center;opacity: 1;
-webkit-opacity:1;}
.incontent-slider .slick-prev::before {transform: rotateZ(180deg);-webkit-transform: rotateZ(180deg);}
.incontent-slider {padding-inline:30px;}

html { scroll-behavior: smooth; }

.affix_lef { position: sticky; top: 20px;   }

@media (min-width: 1200px) {
  .cm-hd1{width: 90%;margin: 1rem auto;}
}

@media screen and (min-width:992px) and (max-width:1338px) {
.comic-panel{  transform: scale(0.94);-webkit-transform: scale(0.84);}
.comic-panel.comic-rev{  margin-left: -70px;margin-right: -26px;}
}

@media screen and (min-width:768px) and (max-width:1199px) {
.flip-lgim img{height: 100% !important;}
.cm-hd2 {font-size: 26px;margin-top: 0;}
.afflef, .affim{height:100%;}
.afflef img {width: 100%;height: 100%;object-fit: cover;}
}

@media screen and (min-width:768px) and (max-width:991px) {
  .cm-hd1{font-size: 32px;}
  .tech-card{width: 100px;padding: 5px;}
  .navbar-collapse {background: #000;padding: 10px;z-index: 200;}  
}

@media screen and (min-width:320px) and (max-width:767px) {
  .cm-btn1{font-size: 15px;}
  .cm-hd1{font-size: 26px;}
  .cm-btn1 span{padding: 6px 15px;}
  .cm-hd2{font-size: 18px;}
  .serv-imobrw {position: relative;}
  .serv-imob {position: absolute;left: 0;top: 0;opacity: 0.2;-webkit-opacity: 0.2;bottom: 0;height: 100%;}
  .serv-imobcn{position: relative;z-index: 10;}
  .slick-dots{padding-inline: 2rem;left: 0;}
  .slick-dots li{width: 10px;height: 10px;}
  .content-slider::after {width: 250px;}
  .tech-card-row{margin-top: 2rem;}
  .tech-card { padding: 6px 5px; min-height: 50px;}
  .tech-card img{max-width: 120px;height: 25px;object-fit: contain;}
  .flip-lgim img{height: 450px;}
  .flip-card.flipped .flip-card-inner, .flip-card.flipped:hover .flip-card-inner {transform: rotateY(180deg);-webkit-transform: rotateY(180deg);}
  .flip-card:hover .flip-card-inner {transform: none;-webkit-transform: none;}
  .afflef {position: absolute;margin-left: -15px;top: 0;left: 0;opacity: 0.2;-webkit-opacity: 0.2;height: 100%;}
  .affim{height:100%;}
  .afflef img {width: 100%;height: 100%;object-fit: cover;}
  .scrollimgs{gap: 1rem;}
  .cm-hd4{font-size: 18px;line-height: 26px;margin: 1rem 0;}
  .para-cnt1{font-size: 13px;line-height: 20px;}
  .accord-cn{font-size: 13px;}
  .testim-wrapper{width:90%;}
  .testimonial-inner{gap: 10px;width:99%;}
  .testimonial-content{padding:10px;}
  .incontent-slider {padding-inline: 15px;}
  .incont-bk .cm-hd4{font-size: 16px;line-height: 24px;}
  .incont-bk .para-cnt1{font-size: 13px;line-height: 22px;}
  .language-dropdown{font-size: 14px;}
  .incontent-slider .slick-prev {left: 0px;}
  .incontent-slider .slick-next {right: 0;}
  .incontent-slider .slick-list{width: 85%;}
  .tech-categlis {gap: 0.25rem;}
}

@media (min-width: 1441px) {
  .afflef .affim {position: relative;display: inline-block;}
  .afflef .affim::after {content: "";position: absolute;top: 0;left: -10px;width: 40%;height: 100%;z-index: 1;background: linear-gradient(to right, rgba(0,0,0,1), transparent);pointer-events: none;}
  .how-rev .afflef .affim {display: flex;}
  .how-rev .afflef .affim::after {left: auto;right: 0;background: linear-gradient(to left, rgb(0, 0, 0), transparent);}
  .content-slider{width: 1336px;margin: auto;}
}