.tpnav {  background: transparent !important; z-index: 1000;padding: 4px 10px;position: fixed;left: 0;top: 0;
transition: 0.5s ease-in-out all 0s;-webkit-transition: 0.5s ease-in-out all 0s;}
.tpnav .nav-listin.dropdown-toggle:before {width: 0 !important;}
.tpnav .nav-listin.dropdown-toggle .transition-transform {
  font-size: 0.5rem;
}
.tpnav .dropdown-menu { background: rgba(26, 26, 26, 0.95);border-top: 4px solid #FC7400;  border-radius: 0;
  box-shadow: 2px 4px 4px rgba(252, 116, 0, 0.1);-webkit-box-shadow: 2px 4px 4px rgba(252, 116, 0, 0.1); color: #fff;}
.tpnav .dropdown-menu .nav-droplink { color: #fff;  margin: 4px 0;  font-size: 15px;  font-weight: 400;  width: 100%;
  padding: 0.25rem;
  display: block;}
.tpnav .dropdown-menu .nav-droplink:hover, .tpnav .dropdown-menu .nav-droplink:focus { color: #ff8600; background: rgba(255,255,255,0.1);}
.tpnav.fixed {background: #000 !important;position: fixed !important;box-shadow: 0 0 20px #000;-webkit-box-shadow: 0 0 20px #000;}
.tpnav .navbar-brand {padding-top: 0;}
.navbar-brand img {width: 170px;  max-height: 50px;  object-fit: contain;  position: relative;}
.tpnav .nav-listin {  color: #fff;position: relative;margin: 0 11px;font-size: 16px;  padding: 0.5rem;}
.tpnav .nav-listin:focus-visible {outline: none;box-shadow: none;}
.tpnav .nav-listin::before{content: "";position: absolute;left: 0;bottom: 0;width: 0;height: 2px;transition: 0.5s ease-in-out all 0s;background: #fff;}
.tpnav .nav-listin:hover::before{width: 100%;}
.tpnav .nav-listin:focus-visible {outline: none;box-shadow: none;-webkit-box-shadow: none;}
.cm-btn1{display:inline-block;padding:1px;background-color:#ff8600;font-size: 18px;  
clip-path: polygon(0px 8px, 8px 0px, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
-webkit-clip-path: polygon(0px 8px, 8px 0px, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);}
.cm-btn1 span {display:inline-block;padding:2px 15px;background-color:#ff8600;color:white;text-decoration:none;font-weight:500;width:100%;
  clip-path: polygon(0px 8px, 8px 0px, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);
  -webkit-clip-path: polygon(0px 8px, 8px 0px, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%);transition: background-color 0.3s;}
.cm-btn1:hover { background: #fff;}
.cm-btn1:hover span { background: #e67c03;}
.cm-btn1.active span {background: #000;}
.cm-btn1.active:hover {background: #ff8600;}
.cm-btn1.active:hover span {background: #ff8600;}
.navbar-icon * {border-color: #fff;color: #fff;filter: brightness(0) invert(1);-webkit-filter: brightness(0) invert(1);}
.navbar-icon .icon-bar {display: block;width: 22px;height: 2px;margin: 4px auto;transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;
background-color: #000;}
.navbar-icon.hamb-open .top-bar {transform: rotate(0) translate(0, 0);-webkit-transform: rotate(0) translate(0, 0);}
.navbar-icon.hamb-open .middle-bar {opacity: 1;-webkit-opacity: 1;}
.navbar-icon.hamb-open .bottom-bar {transform: rotate(0) translate(0, 0);-webkit-transform: rotate(0) translate(0, 0);}
.navbar-icon .top-bar {transform: rotate(45deg) translate(2px, -2px);-webkit-transform: rotate(45deg) translate(2px, -2px);
transform-origin: 10% 10%;-webkit-transform-origin: 10% 10%;}
.navbar-icon .middle-bar {opacity: 0;-webkit-opacity: 0;}
.navbar-icon .bottom-bar {transform: rotate(-45deg) translate(2px, 2px);-webkit-transform: rotate(-45deg) translate(2px, 2px);
transform-origin: 10% 90%;-webkit-transform-origin: 10% 90%;}


@media (min-width: 1200px) {
   .tpnav .tp-navmn .dropdown-menu.mega-menu { width: 650px; border-radius: 0; left: 50%;
    transform: translateX(-36%);-webkit-transform: translateX(-36%); right: auto;  }
  .tpnav .tp-navmn .dropdown-menu.mega-menu .col {display: inline-block;padding: 0 10px; width: 49%;}
}

@media screen and (min-width:320px) and (max-width:767px) {
  .tpnav{padding: 8px 0;height: 68px;}
  .tpnav .navbar-brand {padding-top: 0;width: 130px;}
  .tpnav .navbar-brand img{left: 0;}
  .tpnav .navbar-icon:focus{box-shadow: none;outline: none;}
  .tpnav .tp-navmn .nav-lis {display: block;width: 100%;margin: 0;border-bottom: 1px solid #3d3c44;padding: 10px 0;}
  .tpnav .tp-navmn {  padding: 0 14px;min-height: calc(100% - 200px);    width: 100%;}  
  .tpnav .tp-navmn .nav-listin{width:auto;display:inline-block;}
  .navbar-collapse {background: #000;padding: 10px;z-index: 200;}
  .tpnav.fixed{border-bottom: 1px solid #3d3c44;}
  .tpnav.fixed .navbar-menu:after, .tpnav.fixed .navbar-menu:before {width:1px;height:100%;content:"";position:absolute;top:0;
   background:#3d3c44;}
  .tpnav.fixed .navbar-menu::after {left: 10px;}
  .tpnav.fixed .navbar-menu::before {right: 10px;}
}

.navbar-menu {position: static;width: auto;height: auto;background: transparent;box-shadow: none;transition: none;padding: 0;}

@media (min-width: 992px) {
.navbar-menu{flex-grow: 1;flex-basis: auto;display: flex;align-items: center;}
.tpnav .cm-btn1 {height: 32px;}
}

@media (max-width: 991px) {
  .navbar-menu { position: fixed; top: 69px; right: -100%; width: 100%; height: 100%; background: #000;
  transition: right 0.3s ease-in-out;-webkit-transition: right 0.3s ease-in-out;z-index: 1050;padding:0 10px; overflow-y: auto; }
  .navbar-menu.active {right: 0; }
  .navbar-menu .close-btn { background: #ff8300; border: none; font-size: 20px; color: #fff; line-height: 1; cursor: pointer;
   margin-left: auto; margin-bottom: 15px; display: none;  }
  body.offcanvas-open { overflow: hidden;  }
  .navbar-menu .cm-btn1 {margin: auto;}
  .tpnav .tp-navmn .nav-listin.dropdown-toggle {width: 93%;text-align: left;}
  .tpnav .tp-navmn .nav-listin.dropdown-toggle .transition-transform{right: 0;top: 15px; position: absolute;}
  .tpnav .tp-navmn .nav-listin.dropdown-toggle.show:after {transform: rotate(180deg);-webkit-transform: rotate(180deg);}
}

@media (min-width: 991px) {
.navbar-menu .close-btn {display: none;}
}
